[Resolve]
DNS={{ resolved_nameservers | join(" ") }}
Domains={{ resolved_domains | join(" ") }}
DNSStubListener={{ 'yes' if resolved_stub_listener else 'no' }}
ReadEtcHosts={{ 'yes' if resolved_read_etc_hosts else 'no' }}
